*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 12px;
  
}.menu{
    color: white;
    display: flex;
    list-style: none;
}
.item{
    margin-left: 10px;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
}
.item:hover{
    color: orange;
}
.logo{
    width: 200px;
    padding: 5px;
}
    .banner-photo{
        width: 300px;
      
    }
    .banner-container{
        display: flex;
        justify-content: space-around;
        height: 100vh;
        /* border: 2px solid grey ; */
        align-items: center;
        color: rgb(176, 196, 213);
        background-image: url("./photo/background.png"),
        linear-gradient(45deg,#262525,#130c0c);

    }
.text-bold{
    font-size: 50px;
    font-weight: bold;

}
.paragraph{
    font-size: 25px;
    margin-top: 13px ;
    padding: 13px;
}
.bt{
    padding: 10px 20px ;
    background-color: orange;
    border: none;
    cursor: pointer;
}
.bt:hover{
    color: cyan;
}
